@model PassengerBooking

<h1>Create Passenger Booking</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="PassengerName">Passenger Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="FlightId">Flight:</label>
        <input asp-for="FlightNumber" class="form-control" />
        <span asp-validation-for="FlightNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>
